{{#if showNameWarning}}
  <p class='list-name-warning'>Lists can't have the same name!</p>
{{/if}}
<form>
  {{input type='text' value=newListName class='new-list-name'}}
  <button {{action 'createList'}} class='create-list'>Add list</button>
</form>
