<h2 id="title">So many lists!</h2>

{{create-list create=(action 'createList')}}

{{#each lists as |list|}}
  {{x-list
    list=list
    remove=(action 'remove')
    addEntry=(action 'addEntry' list)
  }}
{{/each}}
