{{input type='text' value=newListName class='new-list-name'}}
<button {{action 'createList'}} class='create-list'>Add List</button>

{{#each lists as |list|}}
  {{x-list list=list remove=(action 'removeList')
    addEntry=(action 'addEntry' list)}}
{{/each}}
