<form>
  {{input type='text' value=newListName class='new-list-name'}}
  <button {{action 'createList'}} class='create-list'>Add list</button>
</form>

{{#each lists as |list|}}
  {{x-list list=list remove=(action 'removeList')
    addEntry=(action 'addEntry' list)
    removeEntry=(action 'removeEntry')}}
{{/each}}
